#footer_of_site{
    margin-top: 13.3vh;
    height: 10vh;
    /*background: linear-gradient(109.6deg, rgb(15, 196, 15) 11.2%, rgb(229, 17, 77) 91.1%);*/
    background: rgba(0, 0, 0, 0.82);
    border-top: 3px solid #dcb41c;
}
#footer_of_site>p{
    color: white;
    font-family: 'poppins', sans-serif ;
    font-size: 0.9em;
    text-align: center;
    padding-top: 5px;
    margin-top: 5px;
}