#my_education {
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)), url("../assets/education/education_bg.jpg") no-repeat center;
    background-size: 100% 100%;
    height: 120vh;
    font-family: 'poppins', sans-serif
}
#education_container{
    width:880px;
    color: #ffffff;
    font-family: 'poppins', sans-serif;
    padding-top: 100px;
    text-align:center;
    margin:auto;
}
.education_h1{
    position: relative;
    font-size: 40px;
    display: inline-block;
    padding:0 15px;
    margin: auto;
}
.education_h1:before,
.education_h1:after{
    position: absolute;
    top: 50%;
    width: 150px;
    height: 3px;
    content: '';
    background-color: #faff04;
    left:-150px;
}
/* define a title styles with about me section*/
.education_h1:after{
    left: 100%;
}

/* about section h2 styles*/
.education_h2{
    color: rgba(102, 102, 102, 0.4);
    font-size:  70px;
    margin: auto;
    text-align: center;
}


.education_aside{
    position: relative;
    height:90vh ;
    border: 2px solid deeppink;
    top: 4vh;
}

#education_structure{
    height: 75vh;
    width: 18vw ;
    border: 2px solid green;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 5vh;
    background: url("../assets/Education/education_display_chart.png") no-repeat center;
    background-size: 100% 100%;

}