
#My_Service{
    background: url("../assets/My_Service/service-bg.png") no-repeat center;
    background-size: 100% 100%;
   /* height: 140vh;*/
    height: 1055.6px;
    font-family: 'Poppins', sans-serif;
 /*   border: 2px solid green;*/
}

#service_container {
    position: relative;
    top: -50px;
    width:800px;
    color: #004FC5;
    text-align:center;
    margin:auto;
    padding-bottom: 50px;
}

/* Define a Title Styles with About Me Section*/
.service_h1{
    position: relative;
    font-size: 40px;
    display: inline-block;
    padding:0 15px;
    margin: auto;
}

/* Define a Title Styles with About Me Section*/
.service_h1:before,
.service_h1:after {
    position: absolute;
    top: 50%;
    width: 150px;
    height: 3px;
    content: '';
    background-color: #004FC5;
    left:-150px;
}

/* Define a Title Styles with About Me Section*/
.service_h1:after {
    left: 100%;
}

.service_h2{
    color: rgba(102, 102, 102, 0.2);
    font-size:  70px;
    margin: auto;
    padding-bottom: 50px;
    text-align: center;
}

#service_List{
   /* height:70vh;*/
    height:527.8px;
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: space-around;
}

#service_List>div{
    width: 315px;
  /*  height:65vh;*/
    height:490.1px;

    background-color: #E8E7EF;
    border-radius: 30px;
    /*box-shadow: 10px 13px 8px -5px rgba(255, 255, 255, 0.15);*/
    box-shadow: 10px 13px 8px -5px #282626;
    transition-delay: 0s;
    transition-property: all;
    transition-duration: 1s;
}


#service_List>div:hover{
   /* background-image: linear-gradient(360deg, rgb(255, 255, 255) 0%, rgb(15, 196, 15) 100%);*/
    cursor: pointer;
    box-shadow: 0px 0px 0 0px rgba(94, 59, 238, 0.4);
    transition-delay: 0s;
    transition-property: all;
    transition-duration: 1s;
    transform: scale(1.04);
}


#service_List>div>ul{
    padding-left: 25px;
}

#service_List>div>ul>li{
    font-family: 'Poppins', sans-serif;
    text-align: left;
    padding-top:15px;
    letter-spacing: 0.04em;
}

.service_title{
    padding-top: 20px;
    text-align: center;
    color: #403D4E;
    font-family: 'Poppins', sans-serif;
}

.one_image,.two_image,.fourth_image{
    margin-left: 120px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.third_image{
    margin-left: 120px;
    margin-top: 5px;
}


/*================================== 320->Mobile -S ==================================*/
@media all and (max-width: 320px){

}
/*================================== 375 ->Mobile -M ==================================*/
@media all and (min-width: 321px) and (max-width: 375px){

}

/*================================== 425->Mobile -L ================================== */
@media all and (min-width: 376px) and (max-width: 425px){

}

/*================================== 768->Tablet ================================== */
@media all and (min-width: 426px) and (max-width: 768px){
    #My_Service{
        background: url("../assets/My_Service/service-bg.png") no-repeat center;
        background-size: 100% 100%;
        height: 1180px;
        font-family: 'Poppins', sans-serif;
        /* border: 2px solid green;*/
    }

    #service_container {
        top: -65px;
        width: 580px;
        padding-bottom: 50px;
    }

    .service_h1 {
        font-size: 30px;
        padding: 0 15px;
    }

    .service_h2 {
        font-size: 60px;
        padding-bottom: 50px;
    }

    #service_List {
        position: relative;
        margin: auto;
        top: 40px;
        width: 80vw;
        height: 750px;
        /* border: 2px solid #e70042; */
        display: grid;
        grid-template-rows: repeat(2,1fr);
        grid-template-columns: repeat(2,1fr);
        column-gap: 38px;
        row-gap: 38px;
        justify-items: center;
    }

    #service_List>div {
        width: 264px;
        height: 355px;
    }

    .service_title {
        padding-top: 15px;
        text-align: center;
        color: #403D4E;
        font-size: 20px;
        font-family: 'Ubuntu', sans-serif;
    }

    .one_image, .two_image, .fourth_image {
        margin-left: 106px;
        margin-top: 17px;
        margin-bottom: 9px;
        width: 50px;
        height: 50px;
    }
    .third_image {
        margin-left: 106px;
        margin-top: 27px;
        width: 50px;
        height: 50px;
    }

    #service_List>div>ul {
        padding-left: 25px;
        font-size: 12px;
        padding-right: 5px;
    }
    #service_List>div>ul>li {
        font-family: 'Poppins', sans-serif;
        text-align: left;
        padding-top: 8px;
        letter-spacing: 0.04em;
    }
}

/*================================== 1024->Laptop ================================== */
@media all and (min-width: 769px) and (max-width: 1024px){

    #My_Service{
        background: url("../assets/My_Service/service-bg.png") no-repeat center;
        background-size: 100% 100%;
        height: 1250px;
        font-family: 'Poppins', sans-serif;
       /* border: 2px solid green;*/
    }

    #service_container {
        top: -65px;
        width: 650px;
        padding-bottom: 50px;
    }

    .service_h1 {
        font-size: 35px;
        padding: 0 15px;
    }

    .service_h2 {
        font-size: 65px;
        padding-bottom: 50px;
    }

    #service_List {
        position: relative;
        margin: auto;
        top: 40px;
        width: 80vw;
        height: 855px;
        /* border: 2px solid #e70042; */
        display: grid;
        grid-template-rows: repeat(2,1fr);
        grid-template-columns: repeat(2,1fr);
        column-gap: -17px;
        row-gap: 33px;
        justify-items: center;
    }

    #service_List>div {
        width: 315px;
        height: 395px;
    }

    .service_title {
        padding-top: 15px;
        text-align: center;
        color: #403D4E;
        font-family: 'Ubuntu', sans-serif;
    }

    .one_image, .two_image, .fourth_image {
        margin-left: 125px;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 60px;
        height: 60px;
    }
    .third_image {
        margin-left: 119px;
        margin-top: 15px;
        width: 70px;
        height: 70px;
    }

    #service_List>div>ul {
        padding-left: 25px;
        font-size: 14px;
        padding-right: 5px;
    }
    #service_List>div>ul>li {
        font-family: 'Poppins', sans-serif;
        text-align: left;
        padding-top: 15px;
        letter-spacing: 0.04em;
    }

}






























/*================================== 1440->Laptop large ================================== */
@media all and (min-width: 1025px) and (max-width: 1440px){








}
