#Contact_Page {
  /*  height: 100vh;*/
    height: 754px;

}
.contact_bg{
   /* height: 80vh;*/
    height: 603.2px;
    background: url("../assets/Contact/footer-bg.png") no-repeat center;
    background-size: 100% 100%;
    font-family: 'Poppins', sans-serif;
    /*border: 2px solid red;*/
    position: relative;
}
#contact_container{
    width:800px;
    color: #004FC5;
    font-family: 'Poppins', sans-serif;
    padding-top: 50px;
    text-align:center;
    margin:auto;
}


.contact_h1{
    position: relative;
    font-size: 40px;
    display: inline-block;
    padding:0 15px;
    margin: auto;
}


.contact_h1:before,
.contact_h1:after{
    position: absolute;
    top: 50%;
    width: 150px;
    height: 3px;
    content: '';
    background-color: #004FC5;
    left:-150px;
}


/* Define a Title Styles with About Me Section*/
.contact_h1:after{
    left: 100%;
}


/* About section h2 styles*/
.contact_h2{
    color: rgba(102, 102, 102, 0.2);
    font-size:  70px;
    /*margin-bottom: 10vh;*/
    margin-bottom: 75.4px;
    text-align: center;
}


.contact_box{
    display: flex;
    position: absolute;
    margin: auto;
    top: 30px;
    bottom: 0;
    left: 0;
    right: 0;
   /* height: 70vh;*/
    height: 527.8px;
    align-items: center;
    justify-content: space-around;
   /* border: 2px solid limegreen;*/
}
.contact_box>div{
    width: 28vw;
  /*  height:70vh;*/
    height:527.8px;
/*    border: 2px solid #e70042;*/
}

.contact-01{
    display: flex;
    width:30vw ;
    flex-direction:column;
}

.contact-01>div{
    font-family: 'poppins', sans-serif;
    color: whitesmoke;
     position: relative;
    margin-top:2.5vw;
    width: 26vw;
 /*   height:12vh;*/
    height:90.48px;
}
.contact-01 .title1>h3{

    font-size: 20px;
    position: absolute;
    left: 57px;
}
.contact-01 .title1>h4{
    font-size: 16px;
    position: absolute;
    left: 57px;
}
.contact-01 .title1>i{
    font-size: 28px;
    padding-left: 15px;
    padding-right: 20px;
    color: yellow;
}
.contact-03{
    position: relative;
}
.contact-03>img{
    position: absolute;
    margin: auto;
    right: 0;
    left: 0;
    top: 0;
    width: 9vw;
    height: 9vw;
}
.contact-03>h3{
    font-family:monospace;
    font-size: 2em;
    position: absolute;
    margin: auto;
    text-align: center;
    right: 0;
    left: 0;
    /*top: 16vh;*/
    top: 120.64px;
}
.social_link_for_contact{

    position: absolute;
    margin: auto;
    right: 0;
    left: 0;
   /* bottom: 15vh;*/
    bottom: 113.1px;
}
.social_link_for_contact{
    padding: 10px;
    margin-top: 30px;
    text-align: center;
}
.social_link_for_contact a{
    padding: 10px;
}


#whatsapp,#git,#linkedin,#fb,#insta,#twitter{
    font-size: 35px;
    color: white;
    transition: all 1s;

}
#whatsapp:hover,#git:hover,#linkedin:hover,#fb:hover,#insta:hover,#twitter:hover{
    color: #ffff00;
    transform: scale(1.25);
    transition: all 1s;
}

.contact-03>p{
    font-family:'poppins', sans-serif;
    color: white;
    font-size: 1em;
    position: absolute;
    margin: auto;
    text-align: center;
    /*bottom: 25vh;*/
    bottom: 188.5px;
    padding-left: 35px;
}


/* center div contact page  */

/*
.contact_form{
    margin-top: 18vh;


}

.fieldset{

      border: 2px solid yellowgreen;
}

.legend{
    color: crimson;

}*/

.contact-02{
    /*padding-top: 15vh;*/
    padding-top: 113.1px;
}


.container_contact{
  /*  border: 2px solid deeppink;*/
    width: 100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


form{
    font-family: 'poppins', sans-serif;
    display: flex;
    flex-direction: column;
    padding: 1vw 3vw;
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
}


form h3{
    color: #ffff00;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
}


form input, form textarea{
    border: 0;
    margin: 10px 0;
    padding: 12px;
    border-radius: 25px;
    outline: none;
    background:#f5f5f5 ;
    font-size: 16px;
}


form button{
    padding: 10px;
    background:#ff5361 ;
    color: #fff;
    font-size: 20px;
    border: 0;
    outline: none;
    cursor: pointer;
    width:180px;
    margin: 15px auto 0;
    border-radius: 30px;
    transition: all 1s;
}

form button:hover{
    background: #079b07;
    transform: scale(1.05);
    transition: all 1s;
}

.gif:hover >h3{
    cursor: pointer;
    color: crimson;
}
/*  secureToken: "c682276c-e363-4d3d-b924-e78ce706af53",*/
.btn>i{
    padding-right: 7px;
}
.btn:hover i{
    color: #ffff00;
}


