@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}
/** Header(Navbar) styling */
.navbar{
    position: fixed;
    width: 100%;
    padding: 10px 0;
    background: rgba(0, 0, 0, 0.1);
    font-family: 'Ubuntu',sans-serif;
}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    color: #fff;
    alignment: left;
   image-resolution: from-image;
}
.navbar .menu li {
    list-style: none ;
    display: inline-block;
}
.navbar .menu li a {
    color: #fff;
    font-size:18px ;
    font-weight: 500;
    margin-left: 40px;
    transition: color 0.3s ease;
}

.navbar .menu li a:hover{
    color: crimson;

}

/** Home Page styling */
.home{
    display: flex;

  /*  background-image: url("/assets/newbg.png");*/
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url("/assets/newbg.png") no-repeat;
    background-size: 100% 100%;
    height:100vh ;
    color:#fff;
    min-height: 500px;
    font-family: 'Ubuntu' ,sans-serif;
}
.side_img{
    alignment-baseline:revert;
}
.home .max-width{
margin: auto 0 auto 100px;
}
.home .home-content .text-1{
    font-size: 50px;
}
.home .home-content .text-2{
    font-size: 65px;
    font-weight: 600;
    margin-left: -5px;
}
.home .home-content .text-3{
    font-size: 50px;
    margin: 8px 0;
}
.home .home-content .text-3 span{
    font-size:45px ;
    color: #b4f32e;
    font-weight: 500;
}