.My_Skill{
 /*width: 100vw;*/
 height: 100vh;

}
/*=========================================================================*/
/* Define a Title Styles with About Me Section*/
#skill_container {
    width:800px;
    color: #004FC5;
    font-size:  40px;
    padding-top: 100px;
    text-align:center;
    margin:auto;
}
/* Define a Title Styles with About Me Section*/
main>section:nth-child(4)>section:nth-child(2)>div>h1:first-child{
    position: relative;
    font-size: 30px;
    display: inline-block;
    padding:0 15px;
    margin: auto;
}
/* Define a Title Styles with About Me Section*/
main>section:nth-child(4)>section:nth-child(2)>div>h1:first-child:before,
main>section:nth-child(4)>section:nth-child(2)>div>h1:first-child:after {
    position: absolute;
    top: 50%;
    width: 150px;
    height: 3px;
    content: '';
    background-color: #004FC5;
    left:-150px;
}

/* Define a Title Styles with About Me Section*/
main>section:nth-child(4)>section:nth-child(2)>div>h1:first-child:after {
    left: 100%;
}

/* About section h2 styles*/
main>section:nth-child(4)>section:nth-child(2)>div>h2{
    color: rgba(102, 102, 102, 0.2);
    font-size:  60px;
    margin: auto;
    padding-bottom: 50px;
    text-align: center;
}

/*=========================================================================*/
#set_of_skill{
    position: relative;
    margin: auto;
    left: 0;
    right: 0;
    height: 60vh;
    width: 80vw;
/*    border: 2px solid #e70042;*/
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns:  repeat(4,1fr) ;
    column-gap: 70px;
    row-gap: 100px;
}

 .skill-div1{
     position: relative;
    background-color: ghostwhite;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
     box-shadow: 10px 13px 8px -5px rgba(94, 59, 238, 0.5);
    /* box-shadow: 10px 13px 8px -5px #282626;*/
     transition-delay: 0s;
     transition-property: all;
     transition-duration: 1s;
}
.skill-div1:hover{
    background-image: linear-gradient(360deg, rgb(255, 255, 255) 0%, rgb(156, 138, 203) 100%);
    cursor: pointer;
    box-shadow: 0px 0px 0 0px rgba(94, 59, 238, 0.4);
    transition-delay: 0s;
    transition-property: all;
    transition-duration: 1s;
}
/* background-image: linear-gradient(90deg, rgba(50,48,64,1) 0%, rgba(50,53,66,1) 100%);*/
 .skill-div2{
     position: relative;

 }

.skills-img{
    position: relative;
    width: 40%;
    height: 40%;
    top: 35px;
    left: 10px;

}
.skills-h1{
    position: absolute;
    text-align: center;
    top: 10%;
    right: 0;
    left: 0;
}
.skill-div1 .skills-p1{
    position: absolute;
    color: #4E4747;
    font-weight: bold;
    margin: auto;
    right: 25%;
    top: 70px;
    bottom: 0;
}
.skill-div1 .skills-p2{
    position: absolute;
    color: #4E4747;
    font-weight: bold;
    margin: auto;
    right: 17%;
    top: 100px;
    bottom: 0;
}
.skills-p1>span , .skills-p2>span{
    color: red;
    padding-right: 5px;
    font-weight: bold;
}

#Tools_container{
    width:800px;
    color: crimson;
    font-size:  40px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align:center;
    margin:auto;
}
/* Define a Title Styles with About Me Section*/
.tool_list{
    position: relative;
    font-size: 30px;
    display: inline-block;
    padding:0 15px;
    margin: auto;
}
/* Define a Title Styles with About Me Section*/
.tool_list:before,
.tool_list:after {
    position: absolute;
    top: 50%;
    width: 500px;
    height: 5px;
    content: '';
    background-color: #004FC5;
    left:-500px;
}

/* Define a Title Styles with About Me Section*/
.tool_list:after {
    left: 100%;
}

#set_of_tools{
 /*   border: 1px solid blueviolet;*/
    height: 105px;
    width: 98vw;
    display: flex;
    align-items: center;     /* Maintain Cross Axis */
    justify-content: space-evenly;


}
.tool{

    background-size: cover;
    width: 100px;
    height: 100px;

}