main>section:nth-child(3)>section:nth-child(3){
    position: relative;
    width: 100vw;
    height: 100vh;
}
main>section:nth-child(3)>section:nth-child(3)>article{
    position: absolute;
    left: 0;
    padding-left: 50px;
    margin-top: 20px;
}
main>section:nth-child(3)>section:nth-child(3)>article>h1{
    text-align: center;
}

main>section:nth-child(3)>section:nth-child(3)>aside{
    position: absolute;
    margin: auto;
    right: 0;
    top: 0;
    bottom: 0;
}



#about_container {
    width:800px;
    color: #004FC5;
    font-size:  40px;
    padding-top: 20px;
    text-align:center;
    margin:auto;
}

 main>section:nth-child(3)>section:nth-child(2)>div>h1:first-child{
    position: relative;
    font-size: 30px;
    display: inline-block;
    padding:0 15px;
     margin: auto;
}

main>section:nth-child(3)>section:nth-child(2)>div>h1:first-child:before,
main>section:nth-child(3)>section:nth-child(2)>div>h1:first-child:after {
    position: absolute;
    top: 50%;
    width: 150px;
    height: 3px;
    content: '';
    background-color: #004FC5;
    left:-150px;
}

main>section:nth-child(3)>section:nth-child(2)>div>h1:first-child:after {
    left: 100%;
}


main>section:nth-child(3)>section:nth-child(2)>div>h2{
    color: rgba(102, 102, 102, 0.2);
    font-size:  50px;
    margin: auto;
    text-align: center;
}
