
#my_certification_sec {

    margin-top: 5%;
    max-width: 100%;

}
/* IMAGE CAROUSEL */
.carousel__caption {
    width: 340px;
    max-width: 80%;
    margin: 20px auto 0;
}
.carousel__caption p {
    font: 400 12px "Roboto", sans-serif !important;
    color: rgba(255, 255, 255, 0.93) !important;
    text-align: center;
}
.carousel__caption a {
    text-decoration: underline;
    color: #02ec02;
    font-size: 12px;
    font: bold;
    font-weight: 800px;
}
.carousel {
    position: relative;
    width: 100%;
    height: 620px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    transform: translateZ(0px); /* stops flickering */
}
.carousel__buffer {
    display: none;
}
.carousel__buffer img {
    margin: 55px auto 18px;
    width: 553px;
    height: 347px;
}
.carousel__slide {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
    background: no-repeat center top;
    background-size: cover;
    overflow: auto;
}
.carousel__slide img {
    display: block;
    position: relative;
    margin: 100px auto 95px;
    width: 553px;
    height: 347px;
    -webkit-box-shadow: 0 0 50px 0 rgba(0,0,0,0.8);
    -moz-box-shadow: 0 0 50px 0 rgba(0,0,0,0.8);
    box-shadow: 0 0 50px 0 rgba(0,0,0,0.8);
}

.carousel__input:checked + .carousel__slide {
    position: static;
    opacity: 1;
}
.carousel__arrow {
    position: absolute;
    display: none;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.87);
    top: 260px;
    left: 50%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    z-index: 10;
}
.carousel__arrow:before {
    position: absolute;
    content: "";
    padding: 8px; /* Arrow size */
    box-shadow: 1px -1px 0 1px #0072bc inset;
    -webkit-box-shadow: 3px -3px #0072bc inset;
    -moz-box-shadow: 3px -3px #0072bc inset;
    border: solid transparent;
    border-width: 0 0 2rem 2rem;
}
.carousel__arrow--prev {
    margin-left: -343px;
}
.carousel__arrow--prev:before {
    transform: rotate(45deg);
    margin: -4px 0 0 -24px;
}
.carousel__arrow--next {
    margin-left: 303px;
}
.carousel__arrow--next:before {
    transform: rotate(225deg);
    margin: -4px 0 0 15px;
}

#carousel__slide--1:checked ~ .carousel__arrow--1,
#carousel__slide--2:checked ~ .carousel__arrow--2,
#carousel__slide--3:checked ~ .carousel__arrow--3,
#carousel__slide--4:checked ~ .carousel__arrow--4,
#carousel__slide--5:checked ~ .carousel__arrow--5,
#carousel__slide--6:checked ~ .carousel__arrow--6,
#carousel__slide--7:checked ~ .carousel__arrow--7,
#carousel__slide--8:checked ~ .carousel__arrow--8,
#carousel__slide--9:checked ~ .carousel__arrow--9,
#carousel__slide--10:checked ~ .carousel__arrow--10,
#carousel__slide--11:checked ~ .carousel__arrow--11,
#carousel__slide--12:checked ~ .carousel__arrow--12,
#carousel__slide--13:checked ~ .carousel__arrow--13 {
    display: block;
}

.carousel__bullets {
    list-style: none;
    margin: 12px auto -6px;
    padding: 0;
    position: absolute;
    top: 480px;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}
.carousel__bullets li {
    display: inline-block;
}
.carousel__bullets--bullet {
    cursor: pointer;
    display: block;
    width: 10px;
    height: 10px;
    margin: 0 4px 0;
    border-radius: 50%;
    background: rgba(0,0,0,0);
    border: 1px solid #6e7c7f;
}

#carousel__slide--1:checked ~ .carousel__arrow--1 ~ .carousel__bullets li:nth-child(1) .carousel__bullets--bullet,
#carousel__slide--2:checked ~ .carousel__arrow--2 ~ .carousel__bullets li:nth-child(2) .carousel__bullets--bullet,
#carousel__slide--3:checked ~ .carousel__arrow--3 ~ .carousel__bullets li:nth-child(3) .carousel__bullets--bullet,
#carousel__slide--4:checked ~ .carousel__arrow--4 ~ .carousel__bullets li:nth-child(4) .carousel__bullets--bullet,
#carousel__slide--5:checked ~ .carousel__arrow--5 ~ .carousel__bullets li:nth-child(5) .carousel__bullets--bullet,
#carousel__slide--6:checked ~ .carousel__arrow--6 ~ .carousel__bullets li:nth-child(6) .carousel__bullets--bullet,
#carousel__slide--7:checked ~ .carousel__arrow--7 ~ .carousel__bullets li:nth-child(7) .carousel__bullets--bullet,
#carousel__slide--8:checked ~ .carousel__arrow--8 ~ .carousel__bullets li:nth-child(8) .carousel__bullets--bullet,
#carousel__slide--9:checked ~ .carousel__arrow--9 ~ .carousel__bullets li:nth-child(9) .carousel__bullets--bullet,
#carousel__slide--10:checked ~ .carousel__arrow--10 ~ .carousel__bullets li:nth-child(10) .carousel__bullets--bullet,
#carousel__slide--11:checked ~ .carousel__arrow--11 ~ .carousel__bullets li:nth-child(11) .carousel__bullets--bullet,
#carousel__slide--12:checked ~ .carousel__arrow--12 ~ .carousel__bullets li:nth-child(12) .carousel__bullets--bullet,
#carousel__slide--13:checked ~ .carousel__arrow--13 ~ .carousel__bullets li:nth-child(13) .carousel__bullets--bullet
{
    background: #0072bc;
    box-shadow: inset 0 0 0 2px #12171b; /* Separates blue dot from border */
}

@media screen and (max-width: 690px) {
    .carousel__buffer {
        width: 100%;
        position: relative;
        display: inline-block;
        visibility: hidden;
        z-index: -1;
        padding-bottom: 120px;
    }
    .carousel__buffer img {
        width: 100%;
        height: auto;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        margin-top: 0;
    }
    .carousel {
        height: auto;
        overflow: visible;
    }
    .carousel__slide {
        -webkit-transition: opacity 0s;
        -moz-transition: opacity 0s;
        -o-transition: opacity 0s;
        transition: opacity 0s;
        position: absolute;
        top:0;
        height: auto;
        background: transparent none !important;
    }
    .carousel__slide img {
        width: 100%;
        height: auto;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        margin-top: 0;
    }
    .carousel__arrow {
        top: calc(50% - 85px);
    }
    .carousel__arrow--prev {
        margin-left: -48%;
    }
    .carousel__arrow--next {
        margin-left: calc(48% - 40px);
    }
    .carousel__bullets {
        top: auto;
        bottom: 120px;
    }
    .carousel__caption p {
        font: 400 10px "Roboto", sans-serif !important;
        color: rgba(0, 0, 0, 0.87) !important;
        text-align: center;
        margin-bottom: 50px;
    }


}
/** For  the Title Styles */
#certificate_container {
    width: 700px;
    color: #004FC5;
    font-family: 'Poppins', sans-serif;
    padding-top: 90px;
    text-align: center;
    margin: auto;
}

.certificate_h1 {
    position: relative;
    font-size: 40px;
    display: inline-block;
    padding: 0 15px;
    margin: auto;
}

.certificate_h1:before,
.certificate_h1:after {
    position: absolute;
    top: 50%;
    width: 150px;
    height: 3px;
    content: '';
    background-color: #004FC5;
    left: -150px;
}

/* Define a Title Styles with About Me Section*/
.certificate_h1:after {
    left: 100%;
}

/* About section h2 styles*/
.certificate_h2 {
    color: rgba(102, 102, 102, 0.2);
    font-size: 70px;
    margin: auto;
    text-align: center;
}

@media all and (max-width: 320px) {

    #certificate_container {
        width: 265px;
        padding-top: 70px;
        margin: auto;
    }
    .certificate_h1 {
        font-size: 17px;
        padding: 0 8px;
    }

    .certificate_h1:before, .certificate_h1:after {

        width: 70px;
        height: 2px;
        left: -70px;
    }

    .certificate_h1:after {
        left: 100%;
    }

    .certificate_h2 {
        font-size: 27px;
        padding-bottom: 10px;
    }


}

@media all and (min-width: 321px) and (max-width: 376px) {

    #certificate_container {
        width: 354px;
        padding-top: 70px;
        margin: auto;
    }

    .certificate_h1 {
        font-size: 20px;
        padding: 0 10px;
    }

    .certificate_h1:before, .certificate_h1:after {

        width: 70px;
        height: 2px;
        left: -70px;
    }

    .certificate_h1:after {
        left: 100%;
    }

    .certificate_h2 {
        font-size: 32px;
    }

}

@media all and (min-width: 376px) and (max-width: 426px) {
    #certificate_container {
        width: 400px;
        padding-top: 90px;
        margin: auto;
    }
    .certificate_h1 {
        font-size: 24px;
        padding: 0 10px;
    }

    .certificate_h1:before, .certificate_h1:after {

        width: 70px;
        height: 3px;
        left: -70px;
    }

    .certificate_h1:after {
        left: 100%;
    }

    .certificate_h2 {
        font-size: 36px;
    }
}


@media all and (min-width: 426px) and (max-width: 768px) {
    #certificate_container {
        width: 580px;
        padding-top: 90px;
        margin: auto;
    }

    .certificate_h1 {
        font-size: 30px;
        padding: 0 15px;
    }

    .certificate_h2 {
        font-size: 60px;
    }

}

@media all and (min-width: 769px) and (max-width: 1024px) {

    #certificate_container {
        width: 650px;
        padding-top: 90px;
        margin: auto;
    }
    .certificate_h1 {
        font-size: 35px;
        padding: 0 15px;
    }

    .certificate_h2 {
        font-size: 65px;
    }

}