.My_Projects{
    width: 100vw;
    height: 150vh;
    border: 2px solid mediumvioletred;
}
#projects_container{
    width:800px;
    color: #004FC5;
    font-family: 'Poppins', sans-serif;
    padding-top: 100px;
    text-align:center;
    margin:auto;
}
.project_h1{
    position: relative;
    font-size: 40px;
    display: inline-block;
    padding:0 15px;
    margin: auto;
}
.project_h1:before,
.project_h1:after{
    position: absolute;
    top: 50%;
    width: 150px;
    height: 3px;
    content: '';
    background-color: #004FC5;
    left:-150px;
}
/* Define a Title Styles with About Me Section*/
.project_h1:after{
    left: 100%;
}

/* About section h2 styles*/
.project_h2{
    color: rgba(102, 102, 102, 0.2);
    font-size:  70px;
    margin: auto;
    text-align: center;
}

.Project_description .P-1,.P-2{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 16px;
    padding-top: 10px;
}
.Project_description .P-2{
    padding-top: 20px;
    font-weight: bold;
}

.Btn_Github a{
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    /*background-image: url("../assets/git.png");*/
    background: #5E3BEE;
    font-size: 25px;
    padding: 4px 40px;
    margin-top: 30px;
    border-radius: 20px;
    border: 3px solid #5E3BEE;
    transition: all 0.3s ease;
}
.Btn_Github a:hover{
    color: crimson;
    background: none;
}

.Btn_Github a i{
    color: #ffffff;
}
.Btn_Github  a:hover i{
    color: crimson;
}

#project_view_container{
    width: 100vw;
    height: 100vh;
    border: 2px solid #d7151f;
    margin-top: 50px;
}