#my_education {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url("../assets/Education/education_bg.jpg") no-repeat center;
    background-size: 100% 100%;
    height: 125vh;
    font-family: 'poppins', sans-serif
}
#education_container{
    width:880px;
    color: #ffffff;
    font-family: 'poppins', sans-serif;
    padding-top: 100px;
    text-align:center;
    margin:auto;
}
.education_h1{
    position: relative;
    font-size: 40px;
    display: inline-block;
    padding:0 15px;
    margin: auto;
}
.education_h1:before,
.education_h1:after{
    position: absolute;
    top: 50%;
    width: 150px;
    height: 3px;
    content: '';
    background-color: #faff04;
    left:-150px;
}
/* define a title styles with about me section*/
.education_h1:after{
    left: 100%;
}

/* about section h2 styles*/
.education_h2{
    color: rgba(102, 102, 102, 0.4);
    font-size:  70px;
    margin: auto;
    text-align: center;
}


.education_aside{
    position: relative;
    height:90vh ;
    top: 4vh;
}

#education_structure{
    height: 75vh;
    width: 16vw ;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 5vh;
    background: url("../assets/Education/education_display_chart.png") no-repeat center;
    background-size: 100% 100%;
}

.education_aside> .level-01 ,.level-02 ,.level-03,.level-04,.level-05{
    font-family: 'Poppins', sans-serif;
    width: 30vw;
    height: 17vh;
    position: absolute;
    margin: auto;
    padding: 10px;
    color: #ffffff;
    border: 0.02em solid white;
}

.education_aside>div>h2{
    font-size: 20px;
}
.education_aside>div>h3{
    font-size: 18px;
}

.education_aside>div>h4{
    font-size: 15px;
}

.education_aside>div>h4>i{
    color: #0fc40f;
    padding-right: 10px;
}

.level-01{
    top: 150px;
    left: 145px;
}

.level-02{
    bottom: 200px;
    left: 145px;
}

.level-03{
    right: 145px;
    top: 45px;
}

.level-04{
    right: 145px;
    top: 265px;
}

.level-05{
    right: 145px;
    bottom: 95px;
}
