@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

/*================ Homepage CSS Styles ==================================*/
#ul-list > li > a {

}
main{
    /*background-color: rgb(255, 255, 255);*/
    background: url("../assests/images/supermarket.jpg") no-repeat center;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../assests/images/supermarket.jpg");
    background-size: 100% 100%;
}
#sec-1 {
    height: 20vh;
}

#sec-1 > div {
   /* border: 1px solid #e5114d;*/

}
#sec-1>div>div>p{
    font-family: 'poppins', sans-serif;
    color: #ffffff;
    font-size: 22px;
    font-weight: bold;
}

#sec-1>div>div>h2{
    color: #d7151f;
    font-weight: 1600;
}

.pre-scrollable {
    max-height: 50px;
    overflow-y: scroll;
}

#sec-2 {
    height: 65vh;
}

#sec-3{
    height: 6.5vh;
}



.col-6{
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.44);
}

.col-6:hover{
    background-image: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.38) 100%);

}
.col-6:hover  i{
    color: #004FC5;
}
.col-6:hover  p{
    color: crimson;
}

.col-6>div>p{
    color: rgba(0, 0, 0, 0.64);
    font-family: 'poppins', sans-serif;
    text-align: center;
    padding-top: 5px;
    font-size: 1.3VW;
    font-weight: bold;
}

.col-6>div>i{
    font-size: 5vw;
    color: white;
    padding-top: 30px;
}

.button{
    text-align: center;
}

.control-error{
    color: red ;
    font-size: 0.9em;
}

.control-error_item{
    color: red ;
    font-size: 0.9em;
}
.form-label{
    color: gold;
}
.order_form_texts{
    color: rgb(0, 0, 0);
    font-size: 1.02em;
    font-weight: 600;
}